---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- 导航栏代码，确保只在页面顶部 -->
    <div class="navbar">
      <ul class="navbar__menu">
        <li class="navbar__menu-item"><a href="#biography">Biography</a></li>
        <li class="navbar__menu-item"><a href="#honor">Honor</a></li>
        <li class="navbar__menu-item"><a href="#research-profile">Research Profile</a></li>
        <li class="navbar__menu-item"><a href="#new-progress">New Progress</a></li>
        <li class="navbar__menu-item"><a href="#publications">Publications</a></li>
        <li class="navbar__menu-item"><a href="#academic-conference">Academic Conference</a></li>
      </ul>
    </div>

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <div class="footer_site">
      <hr/>
      <div class="footer_copyright">
        <a class="page_a" href="https://github.com/RayeRen/acad-homepage.github.io">
          acad
        </a>&nbsp模板
      </div>
    </div>
  
  </body>
</html>
